@media (max-width: 768px) {
  .container {
    width: 688px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .header_top {
    margin-bottom: 75px;
  }

  .header_row {
    flex-direction: row-reverse;
    gap: 46px;
  }

  .header_image img {
    display: none;
  }

  .header_content {
    max-width: 346px;
  }
}
